.app {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .text {
    animation: text-fade-in infinite 20s linear;
  }
}

@keyframes text-fade-in {
  from {
    display: none;

  }
  to {
    display: visible;
  }
}
