.app {
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  gap: 1rem;
}

.text {
  font-size: 2rem;
  animation-name: fadein;
  animation-duration: 12s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.text-2 {
  animation-delay: 6s;
}

.text-3 {
  animation-delay: 12s
}

.text-4 {
  animation-delay: 18s;
}

.text-5 {
  animation-delay: 24s;
}

.text-6 {
  animation-delay: 30s;
}

.future {
  width: 0%;
  animation-name: zoom;
  animation-fill-mode: forwards;
  animation-duration: 12s;
  padding-top: 3.2rem;
}

@keyframes fadein {
  0% {
    opacity: 0;

  }
  50% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}

@keyframes zoom {
  from {
    opacity: 0;
  }
  to {
    transform: scale(2.1);
    width: 20%;
    opacity: 100;
  }
}